---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import TravelHero from "../components/TravelHero.astro";
import TravelServices from "../components/TravelServices.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="MotivPro Group | Travel & Tour">
    <main class="flex flex-col w-full overflow-x-hidden">
        <Navbar />
        <TravelHero />
        <TravelServices />
        <Contact />
        <Footer />
    </main>
</Layout>
